# Dependencies
node_modules/

# Secrets & Sensitive Configs
.env
cypress/config/*.json
testPlan_regTech.md

# Reports, Screenshots & Videos
cypress/reports/
cypress/screenshots/
cypress/videos/
cypress/reports/.jsons/
cypress/reports/results.json
cypress/reports/html/

# Metrics & Dashboard
dashboard/

# OS/IDE
.DS_Store
.vscode/
.idea/