# Dependencies
node_modules/

# Cypress
cypress/screenshots/
cypress/videos/
cypress/reports/.jsons/
cypress/reports/results.json
cypress/reports/html/

# Metrics & Dashboard
dashboard/

# OS/IDE
.DS_Store
.vscode/
.idea/

# Secrets
.env
